.cursor {
  height: 1200px;
  width: 1200px;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 100;
}
