.projectdetails-container {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(35px);
  padding: 20px;
  margin-bottom: 0;
  .container {
    .row > div {
      margin-top: 30px;
      display: flex;
      gap: 40px;
      flex-direction: column;
    }
  }
}

.projectdetails-img {
  border-radius: 15px;
  width: 100%;
  /* real-shadow */
  box-shadow: 24px 48px 24px 0px rgba(0, 0, 0, 0.25),
    12px 24px 12px 0px rgba(0, 0, 0, 0.5), 6px 12px 6px 0px rgba(0, 0, 0, 0.55),
    1px 2px 1px 0px #000, 3px 6px 3px 0px rgba(0, 0, 0, 0.7),
    8px 16px 8px 0px rgba(0, 0, 0, 0.5), 4px 8px 4px 0px rgba(0, 0, 0, 0.6),
    2px 4px 2px 0px rgba(0, 0, 0, 0.8);
}
.projectdetails-link {
  /* medium big */
  font-family: Ubuntu;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}
